// colors
$accentColor = lighten(#4a154b, 50%)
$textColor = #2c3e50
$borderColor = rgba(0, 0, 0, .05)
$codeBgColor = $darkTextColor
// $arrowBgColor ?= #ccc
// $badgeTipColor ?= #42b983
// $badgeWarningColor ?= darken(#ffe564, 35%)
// $badgeErrorColor ?= #DA5961

// custome colors
$darkTextColor = #000
$darkBorderColor = $darkTextColor
$bgColor = #fff
$headerBgColor = $bgColor
$footerBgColor = $darkTextColor
$footerColor = #828282


// layout
// $navbarHeight ?= 3.6rem
// $sidebarWidth ?= 20rem
// $contentWidth ?= 740px
// $homePageWidth ?= 960px
$headerHeight = 80px

// responsive breakpoints
// $MQNarrow ?= 959px
// $MQMobile ?= 719px
// $MQMobileNarrow ?= 419px

// code
// $lineNumbersWrapperWidth ?= 3.5rem
// $codeLang ?= js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
